h1{
    font-size: 90px;
}
h3{
    font-size: 100px;
}
.familiaTexto{
    font-family:"papyrus";
    font-size: 15px;
    color: blue;
    text-align: justify;

}
body{
   background-color: blueviolet; 
}