h1{
    font-size: 90px;
}
h3{
    font-size: 100px;
}
.familiaTexto{
    font-family:"papyrus";
    font-size: 15px;
    color: blue;
    text-align: justify;

}

.fondoPrincipal{
    background-color:orange; 
}
.headerIndex{
    background-color: green;
}
.headerPagina2{
    background-color: blue;
}
.imagenfondo{
    background-image: url(https://placeimg.com/800/480/any);
    height: 10px;
    background-attachment: fixed;

}
.textorojo{
    color: red;
}